<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light p-5">
    <div class="container bg-white p-4 shadow rounded" style="max-width: 500px;">
        <h2 class="text-center text-primary fw-bold mb-4">Editar Detalle</h2>
        <form action="{{ url_for('editar_producto', id=producto.id_producto) }}" method="POST">
            <label class="fw-bold">Nombre</label>
            <input type="text" name="nombre" class="form-control mb-3" value="{{ producto.nombre }}">
            
            <label class="fw-bold">Categoría</label>
            <input type="text" name="categoria" class="form-control mb-3" value="{{ producto.categoria }}">
            
            <div class="row">
                <div class="col"><label class="fw-bold">Precio</label><input type="number" step="0.01" name="precio" class="form-control mb-3" value="{{ producto.precio }}"></div>
                <div class="col"><label class="fw-bold">Stock</label><input type="number" name="stock" class="form-control mb-3" value="{{ producto.stock }}"></div>
            </div>

            <button type="submit" class="btn btn-primary w-100 fw-bold py-2">Guardar Cambios</button>
            <a href="{{ url_for('listar_productos') }}" class="btn btn-link w-100 mt-2 text-decoration-none">Cancelar</a>
        </form>
    </div>
</body>
</html>